<div>
  <p class="title">Web Redirections</p>
  <% if (error) { %>
  <p class="error"><%= error %></p>
  <% } %>
  <p>Update the cookie for this site to have it redirected to the target URL.</p>
  <p class="mono">
    static=https://example.com;<br />
    dynamic=https://example.com/%s;
  </p>
  <p>Then go to <span class="mono"><%= self %>/:static</span> or <span class="mono"><%= self %>/:dynamic/:query</span> to be redirected accordingly.</p>
  <ul>
    Reserved names:
    <li>config</li>
    <li>app.css</li>
    <li>app.js</li>
  </ul>
  <% if (entries && entries.length > 0) { %>
    <p class="subtitle">Available redirections:</p>
    <table class="mono">
    <% entries.forEach(([key, url], index) => { %>
      <tr><td><%= key %></td><td><i class="arrow"></i></td><td><%= url %></td></tr>
    <% }); %>
    </table>
  <% } %>
</div>
