<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Redirections</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
        color: #222;
        background: #f6f3ef;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 90vh;
      }
      .title {
        font-size: 4vw;
      }
      .error {
        background: #c22;
        color: #ddd;
        padding: 1vh;
      }
    </style>
  </head>
  <body>
    <%- body %>
  </body>
</html>
